{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Pacientes por Consultorio</title>{% endblock title%}

{% block content %}
    <br>
        <div class="card">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>Listado de Pacientes por Clínica y Consultorio
            </div>&nbsp;

            <div class="d-flex justify-content start">&nbsp;&nbsp;&nbsp;
                <form role="form" method="get" >
                    <div>
                        <table>
                            <tr>
                                <td width="200">
                                    <select name="buscarClinica" class="form-contol">
                                        <option value = "0" >---Seleccione Clínica---</option>
                                        {% for c in clinicas %}
                                            {% if c.pk == cliID %}
                                                <option selected value="{{c.pk}}">{{c.nombreCli}}</option>
                                            {% else %}
                                                <option value="{{c.pk}}">{{c.nombreCli}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td width="200">
                                    <select name="buscarEspecie" class="form-contol">
                                        <option value = "0" >---Seleccione Especie---</option>
                                        {% for e in esp %}
                                            {% if e.pk == espID %}
                                                <option selected value="{{e.pk}}">{{e.especie}}</option>
                                            {% else %}
                                                <option value="{{e.pk}}">{{e.especie}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <!--<td width="200" align="right">
                        <input type="text"  placeholder="aaaa-mm-dd" name="buscarFecha" value="{{ request.GET.buscarFecha }}">
                    </td>-->
                                <td width="100" align="right">
                                    <button type="submit" class="btn btn-info" ><B>Buscar</B></button>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <a href="#" class="btn"
                                       style="color:white; background-color:rgb(199, 2, 2)"><i class="fa fa-file-pdf" aria-hidden="true"></i>  Generar Archivo PDF</a>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </form>
            </div>
            {% if consultorios %}
                {% for c in cant %}
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>{{ c.obj.nombreCons}} ({{ c.cant}} Pacientes)
                    </div>
                    <div class="card-body">
                    <table class="table  table-bordered ">
                        <tr style="text-align: center; background-color: #313131; color:whitesmoke;" >
                            <th>Nombre de Paciente</th>
                            <th>Especie</th>
                            <th>Fecha de Inscripción</th>
                        </tr>
                        {% for p in pacientes %}
                            {% for e in exp %}
                                {% if p.id == e.paciente_id and c.obj.id == e.consultorio_id%}
                                    {% if espSel %}
                                        {% if p.especie == espSel.especie %}
                                            <tr>
                                                <td style="text-align: center">{{p.nombrePac}}</td>
                                                <td style="text-align: center">{{p.especie}}</td>
                                                <td style="text-align: center">{{p.fechaInscrip}}</td>
                                            </tr>
                                        {% endif %}
                                    {% else %}
                                        <tr>
                                            <td style="text-align: center">{{p.nombrePac}}</td>
                                            <td style="text-align: center">{{p.especie}}</td>
                                            <td style="text-align: center">{{p.fechaInscrip}}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </table>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if noClinica %}
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body"><h5>{{noClinica}}</h5></div>
                    <!--<div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>-->
                </div>
            </div>
            </div>
        {% endif %}
{% endblock content%}